div
  b News 'n' Updates
  ul(class="news")
    each post, slug in public.posts._data
      li
        a(href="#{ site_path }/posts/#{ slug }") #{ post.title }

div
  b Links 'n' Bookmarks
  ul(class="links")
    each link in site_data.links
      li
        a(href="#{ link.url }") #{ link.title }
